NODE_ENV=development
PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ymmo
DB_USER=postgres
DB_PASSWORD=

# JWT
JWT_SECRET=wP5WcIo6Da1c9HZxT90z7IC4pKyGyQ5z9EqQSQamgBzOTazPQpvBzfyivhWjIG3EKDObYoYd1HB4ObCOVIuHtmgyrvtfdAmixshTeSX
JWT_REFRESH_SECRET=md9w(jVLj@;o{Vy"xIuvrMgd+9.t,ge}.Qwepc-=q-3zS3M=Zo}]'r185b3djUGgOBCB{D0c:cedgQK4T.(?h([AEC*Cw4pzj)wC2dj
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
